*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
nav{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    width: 100%;
    height: 100vh;
}
header menu ul{
    display: flex;
    gap:35px;
}
header menu ul li{
    list-style: none;
    color: rgba(79, 86, 101, 1);

font-family: Rubik;
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 9px;
letter-spacing: 0%;
text-align: left;
}
header nav div{
    display: flex;
    align-items: center;
}
header div img{
   width: 100px;
}
header nav div p a{
    color: rgba(11, 19, 42, 1);

font-family: Rubik;
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 9px;
letter-spacing: 0%;
text-align: left;

}
a{
    text-decoration: none;
}
header nav div > a{
    border: 0.47px solid rgba(245, 56, 85, 1);
    padding: 10px 30px;
    border-radius: 23.49px;
    margin-left: 20px;
    text-decoration: none;
    color:rgba(245, 56, 85, 1);
}
header nav div > a:hover{
    background-color:rgba(245, 56, 85, 1); 
    color: white;
}
header .content{
    width: 80%;
    height: 400px;
    margin: 100px auto;
    margin-bottom: 0px;
    display: flex;
    
}
.content .left{
    width: 50%;
    height: 100%;
}
.content .left h1{
    font-size: 40px;
}
.content .left p{
    color: rgba(79, 86, 101, 1);
    margin-top: 20px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}
.content .left div a{
        padding: 10px 30px ;
        border-radius: 10px;
        font-style: bold;
       
        background-color: rgba(245, 56, 56, 1);
        color: #fff;
        box-shadow: 0px 15px 26px 0px rgba(245,56,56,0.5);
}
.content .left div{
      transform: translateY(-5px);
    
}
.content .right{
    width: 50%;
    height:100%;
}
.content .right img{
    width: 100%;
}
header section{
    margin: 10px auto;
    border-radius: 10px;
    width: 80%;
    height: 120px;
    align-items: center;
    background-color: #fff;
}
header section .boxes{
    display: flex;
    width: 100%;
    height: 89px;
}
.leftbord{
    border: none !important;
}
.boxes .box{
    width: 33%;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left:2px solid silver;
}

 section .boxes .box div{
    display: flex;
    
 }
  section .boxes .box div p{
    margin-left: 30px;
   
  }
 section .boxes .box div span{
    padding: 10px 5px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.168);
     font-weight: 600;
}
main{
    width: 100%;
    height: 3000px;
   
}
main .content{
    width: 80%;
    height: 2500px;
    margin: 0px auto;
}
main .content .div1{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
main .content .div1 .left{
    width: 40%;
    height: 100%;
}

main .content .div1 .left img{
    width: 95%;
    height: 300px;
}
main .content .div1 .right{
    width: 40%;
    height: 100%;
    
}
main .content .div1 .right p{
    margin-top: 25px;
}
main .content .div1 .right ul{
    margin-top: 20px;
    padding-left: 15px;
    
}
main .content .div1 .right ul li{
    margin-top: 23px;
    list-style-image: url(chek.png);
}
main .content .div2{
    width: 100%;
    height: 650px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main .content .div2 .tittle{
    text-align: center;
    width: 100%;
}
main .content .div2 .box{
    margin-top: 20px;
    width: 27%;
    height: 600px;
    border: 1px solid silver;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main .content .div2 .box:hover, main .content .div2 .active {
     border: 1px solid rgba(245, 56, 56, 1);
     transition: 1.2s;
}
main .content .div2 .box img{
    width: 120px;
}
main .content .div2 .box div h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
}
main .content .div2 .box ul li{
    margin-top: 15px;
    list-style-image: url(checklist.png)
    
}
main .content .div2 .box div h2{
    text-align: center;
    margin-bottom: 20px;
}
main .content .div2 .box div h2 span{
    font-weight: 200;
}
main .content .div2 .box div a{
    padding: 7px 30px;
    border: 0.56px solid rgba(245, 56, 56, 1);
    border-radius: 15px;
    color: rgba(245, 56, 56, 1);
}
main .content .div2 .box div a:hover, main .content .div2 .box div .active{
    background-color: rgba(245, 56, 56, 1) ;
    color: #fff;
    box-shadow: 0px 15px 26px 0px rgba(245,56,56,0.5);
}
main .content .div3{
    margin-top: 200px;
    width: 100%;
    height: 700px;
    

}
main .content .div3 .tittle{
    text-align: center;
    
}
main .content .div3 .tittle h1{
    margin-bottom: 20px;
}
main .content .div3:not[class]{
width: 100%;
height:500px;
margin-top: 50px;

}
main .content .div3 div img[src="box4.png" ]{
   
    width: 90%;
    height: 400px;
}
main .content .div3 div img{
    width: 16%;
    height: 40px;
    margin-left: 5px;
}
main .content .div4{
    width: 100%;
    height: 500px;
    margin-top: 100px;
}
main .content .div4 .tittle{
    text-align: center;
}
main .content .div4 .tittle h1{
    margin-bottom: 20px;
}
main .content .div4 .d-flex{
    width: 100%;
    height: 250px;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
main .content .div4 .d-flex .box{
    width: 30%;
    height: 200px;
    border: 2px solid silver;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
main .content .div4 .d-flex .box:hover, main .content .div4 .d-flex .active{
 border: 2px solid rgba(245, 56, 56, 1);
 transition: 1s;
}
main .content .div4 .d-flex .box div{
    width: 80%;
    height: 150px;
    
}
main .content .div4 .d-flex .box div .div{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
main .content .div4 .d-flex .box div .div h3{
   margin-left: 60px;
   cursor: pointer;
}
main .content .div4 .d-flex .box div .div p span{
    font-size: 13px;

}
main .content .div4 .d-flex .box div >p{
    line-height: 23px;
}
main .content .div4 .d-flex .box div .div img{
    width: 50px;
    height: 50px;
}
main .content .div4 .flex{
    width: 100%; 
    display: flex;
    justify-content: space-between;   
    align-items: center;
    margin-top: 50px;
}
main .content .div4 .flex .boxes{
display: flex;
justify-content: space-around;
width: 150px;
height: 20px;
}
main .content .div4 .flex .boxes .lutbox{
    width: 50px;
    height: 20px;
    background-color: red;
    border-radius: 30px;
}
main .content .div4 .flex .boxes .box{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(219, 218, 218);
}
main .content .div4 .flex .right{
    display: flex;
    width: 180px;
    justify-content: space-around;
}
main .content .div4 .flex .right .box{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2PX solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .content .div4 .flex .right .box:hover{
    background-color: red;
    
}
main .content .div4 .flex .right .box:hover i{
    color: white !important;
}
main .content .div5{
    width: 100%;
    height: 250px;
    background-color: #fff;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .content .div5 .left{
    width: 45%;
    height: 60%;
}
main .content .div5 .right{
    width: 45%;
    height: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}
main .content .div5 .right  a{
    padding: 15px 45px;
    border: 0.56px solid rgba(245, 56, 56, 1);
    border-radius: 10px;
    color: rgb(255, 255, 255);
     background-color: rgba(245, 56, 56, 1) ;
     box-shadow: 0px 15px 26px 0px rgba(245,56,56,0.5);
}
footer{
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
}
footer .center{
    padding-top: 50px;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    display: flex;
}
footer .center .left {
    width: 50%;
     height: 400px;
}
footer .center .left > img{
    width: 150px;
}
footer .center .left p{
    margin-top: 20px;
}
footer .center .left div{
    margin-top: 20px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
footer .center .left h5{
    color: rgba(0, 0, 0, 0.4);
}
footer .center .right{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
footer .center .right .box{
    width: 30%;
    height: 400px;
}
footer .center .right .box ul li{
    list-style: none;
    line-height: 35px;
}
footer .center .right .box ul li span{
    font-weight: 600;
    font-size: 17px;
}